In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("potential-talents - Aspiring human resources - seeking human resources.csv")

In [3]:
data.shape

(104, 5)

In [4]:
data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [5]:
data.describe()

               id  fit
count  104.000000  0.0
mean    52.500000  NaN
std     30.166206  NaN
min      1.000000  NaN
25%     26.750000  NaN
50%     52.500000  NaN
75%     78.250000  NaN
max    104.000000  NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

In [7]:
#replacing '500+ ' with 500
data.connection.replace({'500+ ':500}, inplace=True)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [9]:
tfidf_jobtitle_matrix = tfidf.fit_transform((data['job_title']))

In [10]:
tfidf_jobtitle_matrix.shape

(104, 181)

In [11]:
search_keyword = input("Enter job keywords: ")

Enter job keywords: Aspiring human resources

In [12]:
keyword_list = [search_keyword]
user_keyword = pd.DataFrame(keyword_list, columns = ['job_keyword'])

In [13]:
user_keyword.head()

                job_keyword
0  Aspiring human resources

In [14]:
user_keyword.shape

(1, 1)

In [15]:
user_keyword_tfidf = tfidf.transform(user_keyword['job_keyword'])

In [16]:
type(user_keyword_tfidf)

scipy.sparse.csr.csr_matrix

In [17]:
user_keyword_tfidf.shape

(1, 181)

In [18]:
user_keyword_tfidf

<1x181 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [19]:
from sklearn.metrics.pairwise import cosine_similarity
cos_similarity_tfidf = map(lambda x: cosine_similarity(user_keyword_tfidf, x), tfidf_jobtitle_matrix)
#result = list(cos_similarity_tfidf)

In [20]:
type(cos_similarity_tfidf)

map

In [21]:
result = list(cos_similarity_tfidf)

In [22]:
result

[array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.39564317]]),
 array([[0.2878165]]),
 array([[0.39564317]]),
 array([[0.2878165]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.34799962]]),
 array([[0.20673821]]),
 array([[0.25016373]]),
 array([[0.14622958]]),
 array([[0.11259174]]),
 array([[0.25299409]]),
 array([[0.37472449]]),
 array([[0.57679398]]),
 array([[0.46015863]]),
 array([[0.10859318]]),
 array([[0.21816311]]),
 array([[0.10824288]]),
 array([[0.25299409]]),
 array([[0.29767933]]),
 array([[0.]]),
 array([[0.15410443]]),
 array([[0.2847913]]),
 array([[0.]]),
 array([[0.15134215]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.25753129]]),
 array([[0.22617284]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.15345474]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.27912389]]),
 array([[0.31406807]]),
 array([[0.25299409]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]])]

In [23]:
result[0][0][0]

0.28375909395128085

In [24]:
result[2][0][0]

0.7535909978974564

In [25]:
for i in range(len(result)):
    data['fit'][i] = result[i][0][0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
#data.drop(columns='result', inplace=True)

In [27]:
#data.head()

In [28]:
data.loc[data['fit'] >= 0.4].sort_values(by = 'fit', ascending=False)

,id,job_title,location,connection,fit
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.753591
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.576794
73,74,Human Resources Professional,Greater Boston Area,16,0.460159
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
36,37,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172

In [29]:
#convert job_title to tf-idf, location to tf-idf and connection 500+ with 500

In [30]:
data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.283759
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500,0.000000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
3,4,People Development Coordinator at Ryan,"Denton, Texas",500,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500,0.000000

In [31]:
tfidf_jobtitle_matrix.shape

(104, 181)

In [32]:
tfidf_location_matrix = tfidf.fit_transform((data['location']))

In [33]:
tfidf_location_matrix.shape

(104, 71)

In [34]:
df_jobtitle = pd.DataFrame(tfidf_jobtitle_matrix.toarray())
df_location = pd.DataFrame(tfidf_location_matrix.toarray())

In [35]:
data_processed = pd.concat([data, df_jobtitle, df_location], axis = 1)

In [36]:
data_processed.shape

(104, 257)

In [37]:
data_processed.drop(['job_title', 'location'], axis=1, inplace=True)

In [38]:
data_processed.shape

(104, 255)

In [39]:
data_processed.head()

,id,connection,fit,0,1,2,3,4,5,6,...,61,62,63,64,65,66,67,68,69,70
0,1,85,0.283759,0.33906,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.645479,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
1,2,500,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
2,3,44,0.753591,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
3,4,500,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.548921,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,5,500,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.707107,0.0,0.0,0.0,0.0,0.707107

### Word2Vec implementation

In [40]:
import numpy
import gensim

In [41]:
import gensim.downloader as api

In [42]:
# load w2v model
corpus = api.load('word2vec-google-news-300')
#word2vec_model = gensim.load("word2vec-google-news-300")

In [106]:
type(corpus)

gensim.models.keyedvectors.Word2VecKeyedVectors

In [43]:
def cosine_similarity(vec1, vec2):
    cosine_similarity = numpy.dot(vec1, vec2) / (numpy.linalg.norm(vec1) * numpy.linalg.norm(vec2))
    return cosine_similarity

In [51]:
search_term_embedding = []
for term in search_keyword.split():
    search_term_embedding.append(corpus[term])

In [53]:
len(search_term_embedding)

3

In [54]:
search_term_embedding

[array([-2.04101562e-01,  2.50000000e-01, -1.83105469e-02, -1.86523438e-01,
         9.22851562e-02,  2.87109375e-01,  2.50000000e-01,  2.46093750e-01,
        -3.04687500e-01, -1.00708008e-02,  2.69531250e-01,  9.08203125e-02,
         6.20117188e-02,  1.11816406e-01, -1.96289062e-01,  6.64062500e-02,
         2.87109375e-01,  4.31640625e-01, -1.13769531e-01,  1.02050781e-01,
        -1.37695312e-01,  8.83789062e-02, -4.95605469e-02, -2.10937500e-01,
        -3.24218750e-01, -2.50000000e-01,  7.86132812e-02, -1.53320312e-01,
         3.53515625e-01, -1.68457031e-02,  2.08984375e-01, -1.64062500e-01,
        -2.33398438e-01, -4.55078125e-01, -2.03125000e-01,  1.01074219e-01,
         7.37304688e-02, -1.11816406e-01,  9.37500000e-02, -1.93359375e-01,
        -1.96533203e-02, -4.10156250e-01, -4.39453125e-02, -2.99072266e-02,
        -1.00585938e-01,  1.44531250e-01, -1.76757812e-01,  3.73046875e-01,
         4.80957031e-02,  1.33789062e-01, -5.46875000e-01,  4.25781250e-01,
         1.71875000e-01,  6.68945312e-02,  5.22460938e-02, -3.17382812e-02,
         2.12890625e-01, -1.21093750e-01, -2.50000000e-01,  2.57812500e-01,
         2.42187500e-01, -1.77734375e-01, -2.57812500e-01, -1.81640625e-01,
         1.73828125e-01, -6.44531250e-02,  3.90625000e-01,  3.17382812e-02,
         4.21875000e-01, -9.47265625e-02, -1.46484375e-01, -7.69042969e-03,
         4.68750000e-02,  1.86767578e-02, -2.36328125e-01,  1.30859375e-01,
         2.59399414e-04,  2.02148438e-01, -8.49609375e-02,  8.88671875e-02,
         6.39648438e-02,  2.33398438e-01, -2.65625000e-01, -1.92382812e-01,
        -1.72851562e-01, -2.00195312e-01,  5.10253906e-02,  2.07519531e-02,
         3.24218750e-01, -1.09375000e-01, -5.17578125e-02, -3.28125000e-01,
        -1.16210938e-01, -3.76953125e-01,  9.13085938e-02, -5.46264648e-03,
         1.64062500e-01,  2.22656250e-01, -1.05468750e-01, -5.39062500e-01,
         6.83593750e-02, -2.81250000e-01,  9.37500000e-02, -3.08593750e-01,
         5.05371094e-02,  2.39257812e-01,  1.13769531e-01, -2.48046875e-01,
         6.36718750e-01,  1.07421875e-01,  2.04101562e-01,  1.02050781e-01,
        -1.59179688e-01,  2.37304688e-01,  1.56250000e-01, -2.51953125e-01,
        -2.79296875e-01, -1.04492188e-01, -9.76562500e-02, -3.26171875e-01,
         8.59375000e-02, -2.12890625e-01, -1.10351562e-01,  9.37500000e-02,
         3.67187500e-01,  1.67968750e-01, -3.06640625e-01, -1.07910156e-01,
         1.94335938e-01,  3.08593750e-01, -5.98144531e-02, -1.90429688e-01,
        -2.28515625e-01,  7.51953125e-02, -1.68945312e-01, -4.39453125e-02,
        -1.44531250e-01, -2.34375000e-01,  3.36914062e-02,  3.88183594e-02,
        -1.90429688e-01, -4.23828125e-01, -3.14453125e-01, -1.12304688e-01,
         1.78710938e-01, -4.71191406e-02,  2.25585938e-01, -1.10839844e-01,
         2.21679688e-01, -4.74609375e-01,  4.08935547e-03, -3.57421875e-01,
         1.87500000e-01, -1.84570312e-01,  2.21679688e-01, -1.66015625e-01,
        -5.88378906e-02, -1.52343750e-01,  5.03540039e-03, -2.30468750e-01,
         2.02148438e-01, -3.64685059e-03, -1.84570312e-01, -2.18750000e-01,
         1.66015625e-01,  1.24023438e-01, -3.97949219e-02, -1.15234375e-01,
         1.13769531e-01,  9.42382812e-02, -4.53125000e-01, -2.56347656e-02,
         2.09960938e-02, -1.77734375e-01,  2.63671875e-01,  8.93554688e-02,
         1.74560547e-02, -3.16406250e-01, -2.55859375e-01,  3.03955078e-02,
        -2.14843750e-02, -1.89453125e-01,  7.71484375e-02,  1.01074219e-01,
        -2.08984375e-01,  1.02050781e-01,  4.43359375e-01, -2.26562500e-01,
         2.50000000e-01,  1.55273438e-01, -2.16064453e-02,  1.46484375e-01,
        -1.23535156e-01, -2.57812500e-01, -3.71093750e-01, -1.00585938e-01,
         3.84765625e-01, -5.83496094e-02, -7.42187500e-02, -2.15820312e-01,
         2.47070312e-01, -9.22851562e-02, -5.83496094e-02, -6.63757324e-04,
        -2.50244141e-02,  7.17773438e-02, -1.29882812e-01, -3.67187500e-01,
        -2.97851562e-02, -1.61132812e-01, -2.36816406e-02, -2.11181641e-02,
         3.32031250e-01,  2.19726562e-02, -4.32128906e-02,  3.58886719e-02,
        -8.91113281e-03, -6.05468750e-02,  4.57031250e-01, -3.08593750e-01,
        -7.03125000e-02, -3.28125000e-01, -1.45507812e-01,  2.08007812e-01,
         1.90429688e-01, -3.63769531e-02,  4.24804688e-02, -2.03125000e-01,
        -1.05468750e-01, -2.26562500e-01,  7.27539062e-02, -2.55859375e-01,
        -1.44531250e-01,  1.06933594e-01,  4.70703125e-01,  2.57812500e-01,
         2.53906250e-01,  1.10839844e-01, -3.80859375e-01,  5.19531250e-01,
         2.39257812e-01,  4.88281250e-02,  7.03125000e-02, -3.95507812e-02,
        -1.02539062e-02, -4.41894531e-02,  9.52148438e-02,  1.36718750e-01,
         2.11914062e-01, -1.75781250e-01,  4.68750000e-01,  6.22558594e-02,
         1.47460938e-01,  4.17968750e-01,  2.72216797e-02,  2.34375000e-01,
         7.81250000e-02, -1.01074219e-01, -1.52343750e-01,  7.76367188e-02,
        -1.99218750e-01,  8.74023438e-02, -4.02343750e-01,  3.12500000e-01,
         3.26171875e-01,  6.98242188e-02, -2.16796875e-01,  4.82421875e-01,
        -2.41699219e-02, -1.49414062e-01,  1.85546875e-01,  1.16210938e-01,
         2.16796875e-01,  1.42822266e-02, -1.33789062e-01,  3.00781250e-01,
        -2.25585938e-01, -1.28173828e-02, -2.47070312e-01,  5.11718750e-01,
         6.15234375e-02,  1.69921875e-01,  4.98046875e-02,  1.39648438e-01,
         5.12695312e-02, -7.08007812e-02, -4.10156250e-01,  1.98242188e-01,
         7.66601562e-02,  2.89062500e-01,  9.08203125e-02, -1.07421875e-02,
        -1.66992188e-01, -8.00781250e-02, -1.96289062e-01, -4.06250000e-01,
        -2.92968750e-02, -1.04003906e-01, -2.63671875e-01,  1.06933594e-01],
       dtype=float32),
 array([ 5.59082031e-02,  9.22851562e-02,  1.07910156e-01,  2.83203125e-01,
        -2.43164062e-01,  1.90429688e-02,  4.08203125e-01, -3.17382812e-02,
        -4.78515625e-02,  6.34765625e-02, -9.32617188e-02, -4.46777344e-02,
        -2.41210938e-01, -1.58203125e-01, -5.83496094e-02,  2.51953125e-01,
        -3.24707031e-02,  1.00097656e-01, -4.56542969e-02,  1.35742188e-01,
        -2.07031250e-01, -3.73046875e-01,  4.39453125e-02,  4.24804688e-02,
         6.93359375e-02, -2.42187500e-01, -2.75390625e-01,  1.95312500e-01,
         2.26562500e-01, -1.90429688e-01, -2.35351562e-01, -5.56640625e-02,
        -1.25000000e-01, -8.78906250e-02, -2.33398438e-01,  9.61914062e-02,
        -4.83398438e-02,  4.54101562e-02,  9.81445312e-02,  5.76171875e-02,
        -4.17480469e-02,  2.02148438e-01, -9.03320312e-02,  2.75390625e-01,
        -6.34765625e-02,  4.93164062e-02,  2.92968750e-02,  2.57812500e-01,
         1.32812500e-01,  7.42187500e-02,  6.64062500e-02, -1.37695312e-01,
        -1.73828125e-01,  1.89453125e-01, -1.88476562e-01, -4.34570312e-02,
         2.11181641e-02, -3.02734375e-01,  1.76757812e-01,  3.24218750e-01,
        -1.27563477e-02,  1.47094727e-02,  1.88476562e-01,  9.61914062e-02,
        -8.15429688e-02, -6.64062500e-02,  9.71679688e-02,  2.29492188e-01,
        -2.94921875e-01, -1.09375000e-01,  6.54296875e-02, -7.42187500e-02,
        -3.41796875e-03, -6.88476562e-02, -9.86328125e-02, -1.13769531e-01,
         1.03027344e-01,  1.39770508e-02, -7.08007812e-02, -1.81884766e-02,
         6.49414062e-02, -3.27148438e-02,  1.04980469e-01, -7.22656250e-02,
        -1.67236328e-02, -6.20117188e-02, -2.82287598e-03,  1.61132812e-01,
        -5.27343750e-02,  1.30859375e-01,  1.46484375e-01,  2.81982422e-02,
        -5.54199219e-02,  5.06591797e-03, -3.93066406e-02, -2.33154297e-02,
         1.16699219e-01,  9.52148438e-02,  9.08203125e-02, -6.22558594e-02,
        -1.24023438e-01,  2.44140625e-02,  1.90429688e-01, -5.49316406e-02,
         1.68945312e-01, -1.94091797e-02, -6.88476562e-02,  4.32128906e-02,
         1.00097656e-01,  1.70898438e-02, -1.87500000e-01, -5.43212891e-03,
         4.46777344e-02,  1.46484375e-01, -1.19018555e-03,  8.74023438e-02,
        -8.74023438e-02, -2.23388672e-02,  1.57226562e-01,  1.48437500e-01,
        -1.76757812e-01, -2.47070312e-01, -2.71484375e-01,  9.13085938e-02,
        -2.71484375e-01, -4.19921875e-02,  1.51367188e-01, -9.88769531e-03,
         2.14843750e-01,  3.86047363e-03, -1.08886719e-01, -1.00585938e-01,
        -3.80859375e-01,  8.00781250e-02,  8.83789062e-02, -2.06054688e-01,
         5.49316406e-02,  6.88476562e-02,  1.40625000e-01, -1.43554688e-01,
         9.61914062e-02, -3.46679688e-02, -1.42578125e-01,  2.44140625e-02,
        -6.29882812e-02,  1.03027344e-01, -3.12500000e-02,  2.57812500e-01,
         2.60009766e-02, -4.95605469e-02,  6.68945312e-02, -5.88378906e-02,
        -1.56250000e-01,  3.10546875e-01, -3.27148438e-02, -1.75781250e-01,
        -5.73730469e-02, -3.41796875e-01,  2.03125000e-01, -1.30859375e-01,
        -1.01074219e-01, -3.10546875e-01,  2.44140625e-03,  6.05468750e-02,
        -1.84570312e-01,  1.33056641e-02,  7.32421875e-02, -1.00097656e-01,
         1.89208984e-02, -8.44726562e-02,  4.02832031e-02,  1.11328125e-01,
         1.07421875e-01,  5.17578125e-02,  3.00781250e-01,  3.88183594e-02,
        -1.23046875e-01, -5.29785156e-02, -1.79687500e-01, -2.18750000e-01,
        -7.66601562e-02,  1.08886719e-01,  1.25976562e-01, -2.92968750e-01,
        -2.77343750e-01,  1.91650391e-02, -1.92382812e-01, -3.68652344e-02,
         1.68457031e-02,  3.16406250e-01, -1.59179688e-01,  1.20605469e-01,
        -1.60156250e-01,  1.04492188e-01, -1.49414062e-01, -6.73828125e-02,
         1.05468750e-01, -1.80664062e-01, -7.47070312e-02, -2.01171875e-01,
         1.47460938e-01,  1.66015625e-02, -1.40625000e-01, -2.79541016e-02,
        -1.60156250e-01, -4.24804688e-02, -1.20605469e-01, -7.08007812e-02,
        -3.51562500e-01, -2.61718750e-01, -3.49609375e-01,  3.08990479e-04,
        -1.45507812e-01, -8.93554688e-02, -3.49121094e-02,  6.83593750e-02,
         2.49023438e-01, -7.91015625e-02, -2.99072266e-02,  3.73535156e-02,
         2.39257812e-01,  9.08203125e-02,  1.87500000e-01, -2.81250000e-01,
         5.49316406e-02, -1.47460938e-01,  8.25195312e-02,  7.08007812e-02,
         8.10546875e-02,  8.74023438e-02,  3.59375000e-01,  1.09863281e-01,
         8.31604004e-04,  5.83496094e-02, -1.46484375e-01, -2.01171875e-01,
        -3.54003906e-02,  1.13281250e-01,  9.03320312e-02, -1.16210938e-01,
         2.98828125e-01, -4.85229492e-03, -4.22363281e-02, -1.48437500e-01,
         1.33789062e-01, -3.83300781e-02,  6.34765625e-02,  1.75781250e-01,
        -6.34765625e-02, -1.57226562e-01,  1.79443359e-02,  6.62231445e-03,
        -1.74560547e-02,  5.71289062e-02,  3.73535156e-02, -4.58984375e-01,
        -2.58789062e-02,  1.14746094e-01,  4.76074219e-02,  3.90625000e-02,
         8.74023438e-02, -7.27539062e-02, -1.14257812e-01,  5.71289062e-02,
        -1.17797852e-02,  3.83300781e-02,  6.63757324e-04, -1.22070312e-03,
        -1.38671875e-01,  1.10351562e-01, -1.01074219e-01,  6.98242188e-02,
        -1.66015625e-01, -2.00195312e-01, -1.25000000e-01, -6.93359375e-02,
        -1.54296875e-01,  1.09863281e-01,  3.27148438e-02,  4.83398438e-02,
        -9.42382812e-02,  8.98437500e-02,  1.14746094e-01, -4.66308594e-02,
        -6.29882812e-02,  1.50146484e-02, -1.55273438e-01, -1.20605469e-01,
         2.23632812e-01,  1.99218750e-01, -2.11914062e-01, -6.54296875e-02,
        -3.12500000e-01,  8.74023438e-02, -2.22656250e-01,  1.23046875e-01,
         4.76074219e-03, -7.12890625e-02,  1.62109375e-01,  9.13085938e-02],
       dtype=float32),
 array([-4.80957031e-02, -2.08740234e-02,  2.55859375e-01,  1.86767578e-02,
         3.36914062e-02,  3.80859375e-02,  4.19921875e-02, -1.59179688e-01,
        -7.37304688e-02, -2.79296875e-01, -6.49414062e-02,  1.35421753e-04,
        -1.31835938e-01,  3.47656250e-01, -1.14746094e-01, -1.08886719e-01,
        -2.98828125e-01,  1.76757812e-01,  6.40869141e-03, -1.06445312e-01,
        -9.91210938e-02, -2.57812500e-01,  1.17675781e-01,  1.02539062e-01,
         1.90429688e-01,  2.04101562e-01, -3.02734375e-02,  6.49414062e-02,
        -1.87500000e-01, -2.57812500e-01,  6.39648438e-02,  5.22460938e-02,
        -7.17773438e-02, -8.05664062e-02, -1.02539062e-01,  1.95312500e-03,
        -5.46875000e-02,  3.04687500e-01,  2.71484375e-01,  1.06445312e-01,
         6.25000000e-02,  1.47460938e-01,  1.92382812e-01, -3.58886719e-02,
         2.96020508e-03, -1.77734375e-01, -2.22656250e-01,  2.55859375e-01,
        -1.42578125e-01, -2.73132324e-03,  6.98242188e-02, -3.20312500e-01,
        -2.60009766e-02, -4.76074219e-02, -2.67578125e-01, -4.49218750e-02,
        -1.61132812e-01, -2.94921875e-01,  1.30615234e-02,  6.68945312e-02,
        -1.34765625e-01, -1.11816406e-01,  1.10839844e-01, -6.39648438e-02,
        -3.10546875e-01, -7.61718750e-02, -2.20947266e-02, -1.03027344e-01,
        -2.36328125e-01,  1.03515625e-01,  2.42614746e-03, -2.53906250e-01,
         1.13281250e-01, -1.61132812e-02,  2.32421875e-01, -9.37500000e-02,
         4.41894531e-02, -1.62353516e-02, -2.53906250e-02,  5.56640625e-02,
         1.88476562e-01,  4.49218750e-01,  1.17187500e-01,  2.44140625e-01,
        -5.66406250e-02, -2.40478516e-02, -1.06445312e-01,  2.67578125e-01,
         1.84570312e-01,  1.00097656e-01,  1.89453125e-01, -1.50390625e-01,
         2.79541016e-02, -8.44726562e-02,  5.49316406e-02, -1.59179688e-01,
        -1.63085938e-01,  2.32421875e-01,  2.31445312e-01,  1.06445312e-01,
        -1.96533203e-02, -1.07421875e-01,  1.11816406e-01,  7.47070312e-02,
        -1.50390625e-01, -1.25000000e-01, -9.32617188e-02, -1.77734375e-01,
         3.10546875e-01,  4.44335938e-02, -2.85644531e-02, -6.78710938e-02,
         5.27343750e-02,  3.01513672e-02, -1.01074219e-01,  1.25000000e-01,
        -7.81250000e-03, -2.14843750e-01,  1.82617188e-01,  1.12792969e-01,
        -3.69140625e-01,  8.59375000e-02,  5.46875000e-02,  1.77734375e-01,
        -1.21093750e-01,  6.05468750e-02, -2.11914062e-01, -1.04980469e-02,
         4.73632812e-02, -7.91015625e-02, -1.06445312e-01, -1.31835938e-01,
        -7.61718750e-02,  1.26953125e-01,  2.52685547e-02, -2.98828125e-01,
         2.61230469e-02, -7.81250000e-02,  2.10937500e-01,  5.05371094e-02,
         8.25195312e-02, -1.09863281e-01,  1.72119141e-02, -3.12500000e-02,
         9.09423828e-03, -2.57568359e-02,  6.15234375e-02,  1.98242188e-01,
         1.35742188e-01,  6.88476562e-02,  9.52148438e-02,  1.94335938e-01,
         3.68652344e-02,  2.01171875e-01,  4.84375000e-01, -1.92871094e-02,
         1.04492188e-01, -5.85937500e-02, -3.39843750e-01, -3.55468750e-01,
         1.26953125e-01, -5.05371094e-02, -8.85009766e-03,  1.38671875e-01,
         3.17382812e-02,  3.68652344e-02, -1.80664062e-01, -1.60156250e-01,
         1.79687500e-01, -8.10546875e-02, -3.50952148e-03,  1.46484375e-01,
        -5.24902344e-02, -1.69677734e-02,  1.90429688e-01, -1.85546875e-01,
         3.06396484e-02, -1.03515625e-01, -2.57812500e-01, -5.93261719e-02,
        -4.85839844e-02,  9.37500000e-02,  6.78710938e-02, -1.15234375e-01,
        -2.65625000e-01, -1.73828125e-01, -7.91015625e-02,  1.83593750e-01,
         4.00390625e-01,  2.01171875e-01, -3.92578125e-01, -3.00781250e-01,
        -1.68945312e-01,  1.40625000e-01, -3.30078125e-01,  7.42187500e-02,
        -6.88476562e-02, -1.65039062e-01,  1.94335938e-01, -3.45703125e-01,
        -2.63671875e-01,  1.55273438e-01,  1.31835938e-01, -7.71484375e-02,
        -4.02832031e-02,  1.03027344e-01, -5.15136719e-02, -2.07031250e-01,
        -2.33398438e-01,  1.67968750e-01, -1.82617188e-01, -4.44335938e-02,
        -1.15234375e-01,  7.56835938e-02,  2.27539062e-01,  1.45507812e-01,
         2.36328125e-01,  2.02636719e-02, -6.34765625e-02,  1.05468750e-01,
         1.08398438e-01, -8.98437500e-02,  6.93359375e-02,  3.12500000e-01,
        -1.50390625e-01, -9.08203125e-02,  6.07910156e-02, -4.17480469e-02,
         2.97851562e-02,  5.51757812e-02, -1.95312500e-01,  8.83789062e-02,
        -1.07421875e-01, -3.12500000e-01, -6.93359375e-02,  2.80761719e-03,
        -6.29882812e-02,  4.32128906e-02,  1.43554688e-01, -1.31835938e-01,
        -9.76562500e-02,  2.28515625e-01,  1.04980469e-01,  4.12597656e-02,
         7.51953125e-02, -1.66015625e-01,  2.33398438e-01, -5.29785156e-02,
        -3.27148438e-02, -3.56445312e-02, -1.74804688e-01,  4.83398438e-02,
        -1.36718750e-01,  1.39648438e-01,  1.43554688e-01, -1.52343750e-01,
        -1.61132812e-02, -1.21093750e-01, -4.90722656e-02,  1.42578125e-01,
         1.04492188e-01, -3.37890625e-01,  5.27343750e-02,  3.16406250e-01,
         2.24609375e-02,  2.63671875e-01,  1.48925781e-02,  1.52343750e-01,
        -2.71484375e-01,  4.63867188e-02, -2.19726562e-01,  1.34765625e-01,
         1.63574219e-02,  1.74804688e-01, -8.49609375e-02,  1.83593750e-01,
        -2.60009766e-02,  6.73828125e-02, -8.44726562e-02, -8.54492188e-02,
        -2.23632812e-01, -1.55273438e-01,  1.84570312e-01,  1.05468750e-01,
        -2.18750000e-01,  1.30859375e-01,  2.63671875e-02,  1.72851562e-01,
         3.26171875e-01,  6.88476562e-02, -1.82617188e-01, -9.08203125e-02,
        -1.75781250e-01,  4.02832031e-02,  1.14746094e-01, -6.83593750e-02,
         1.76757812e-01, -1.86523438e-01, -4.02832031e-02, -2.05078125e-02],
       dtype=float32)]

In [64]:
search_term_embedding_mean = numpy.mean(search_term_embedding, axis=0)

In [66]:
print(search_term_embedding_mean.shape)
#search_term_embedding_mean

(300,)

In [63]:
search_term_embedding[0].shape

(300,)

In [67]:
import re

def remove_sym_specialchar(text):
#    pattern = r'[^a-zA-Z0-9\s]'
#    text = re.sub(pattern,'', text)
    text_nonum = re.sub(r'\d+', '', text)
    return text_nonum

In [68]:
data['job_title'] = data.job_title.apply(remove_sym_specialchar)

In [69]:
data['job_title'][0]

' C.T. Bauer College of Business Graduate (Magna Cum Laude) and aspiring Human Resources professional'

In [73]:
#calculate vector for the sentence by add individual word vectors using numpy.mean

jobtitle_embeddings = []
    
for text in data['job_title']:
    jobtitle_embedding = []
    for word in text.split():
        if word not in corpus:
            jobtitle_embedding.append(numpy.zeros((300)))
        else:   
            jobtitle_embedding.append(corpus[word])

    jobtitle_embedding = numpy.mean(jobtitle_embedding, axis = 0)
#average candidate job title embedding to represent the sentence

    jobtitle_embeddings.append(jobtitle_embedding)

In [94]:
len(jobtitle_embeddings)

104

In [109]:
type(jobtitle_embeddings)

list

In [98]:
jobtitle_embeddings[2].shape

(300,)

In [108]:
jobtitle_embeddings[0]

array([-0.02456229, -0.02502877,  0.0454058 , -0.01222447,  0.04069737,
        0.01130458,  0.05714634,  0.000994  , -0.04078456,  0.00482178,
        0.00513567,  0.03986795,  0.00229318,  0.05874852, -0.02300589,
        0.0027553 ,  0.06499372,  0.06651088, -0.01143973,  0.00966099,
       -0.02326093,  0.04976109, -0.04040527, -0.0322876 , -0.01926967,
        0.04178892, -0.06484549,  0.03099741,  0.05024501,  0.01559448,
       -0.00066267,  0.00816563, -0.01757812, -0.08856201, -0.00515311,
       -0.03009905,  0.0246582 ,  0.01063756, -0.03761509, -0.03062221,
       -0.01296779,  0.02180699, -0.06321934,  0.05019651, -0.06492397,
       -0.00915527, -0.02219936,  0.03797259,  0.0408674 ,  0.07159424,
       -0.11314174,  0.01199777,  0.00265939,  0.01469707,  0.03907721,
        0.01839774, -0.05896868, -0.05235509, -0.0335519 , -0.02165876,
       -0.04248047, -0.0242315 , -0.04926232,  0.00129046, -0.00273132,
       -0.01701028,  0.00744629, -0.00530515,  0.02969796,  0.0370309 ,
       -0.04628209, -0.01526751,  0.07407924, -0.00252424, -0.02385603,
       -0.00446429,  0.0458685 ,  0.04564558,  0.01944842,  0.02694702,
       -0.04173061,  0.0291154 ,  0.00135149,  0.03366525, -0.0504412 ,
       -0.03596449,  0.0223781 ,  0.04746137,  0.03344727, -0.01520647,
       -0.06396321, -0.04907227, -0.05033657, -0.04952567, -0.01304408,
        0.04612078,  0.12283761,  0.04672568,  0.00757708, -0.14396449,
        0.00144741, -0.04914202, -0.05296898, -0.06377302,  0.03936986,
        0.05636161,  0.02099609, -0.05631283,  0.08295986, -0.03418841,
       -0.01279122, -0.02814593, -0.01733398,  0.02997644,  0.08823068,
       -0.03386579, -0.00917925,  0.00850133,  0.08530971,  0.00800432,
       -0.05196708,  0.03979492, -0.0746024 ,  0.0144152 , -0.06648472,
        0.00601632, -0.11514718, -0.01650783,  0.05313546,  0.06266567,
        0.02246094, -0.0620248 , -0.05503627, -0.02388654, -0.05862863,
       -0.04341343, -0.02967834,  0.03464181, -0.03117153,  0.03412301,
       -0.04460798, -0.07512556, -0.01856341, -0.03949847, -0.02659171,
        0.08033098,  0.04197475,  0.1023298 ,  0.06072126,  0.01915877,
        0.07376535, -0.03330721, -0.0305481 , -0.00374058,  0.04116004,
       -0.05794852, -0.03669739, -0.04389736,  0.05592564, -0.10175432,
        0.0920105 , -0.01590838, -0.00902448,  0.04724121,  0.02390398,
        0.03282819,  0.07219587,  0.01926967, -0.03395735,  0.0194288 ,
       -0.0337786 , -0.02526855,  0.07426017, -0.09061977,  0.01872907,
        0.00794111,  0.04453823, -0.06307547, -0.06262207, -0.03550502,
       -0.03951372, -0.08762905,  0.03696987,  0.00694057, -0.0730678 ,
       -0.03660366,  0.04043797,  0.02362061,  0.07395717,  0.03609794,
       -0.02733285,  0.03110177, -0.04062762,  0.06318011, -0.124006  ,
       -0.00328718,  0.04193987, -0.13685826,  0.10453142, -0.04051862,
        0.00830187,  0.0811506 , -0.05453491, -0.05184828, -0.01234654,
       -0.09971401,  0.00141689, -0.00490897,  0.00950405, -0.05121013,
        0.00169482, -0.02263532,  0.08455985,  0.01296779, -0.03981672,
        0.09947859,  0.00577218, -0.01464844,  0.10756138, -0.04980469,
        0.06061663,  0.03626142, -0.02038574,  0.00871931,  0.05235073,
       -0.02639008,  0.00476946, -0.07324219, -0.04832241, -0.03939274,
        0.07104492,  0.0746024 , -0.0106242 ,  0.00097656, -0.02066476,
       -0.01247297,  0.0392892 , -0.01688058, -0.03917585,  0.07299369,
        0.03285435, -0.0801299 ,  0.01685878, -0.06447928, -0.01127951,
       -0.05164446, -0.05554199,  0.03213937, -0.10484096, -0.04572405,
       -0.03438895,  0.03203474, -0.08071027,  0.03843035,  0.00758362,
        0.08021763, -0.05504063, -0.01671709, -0.05368478, -0.03354727,
        0.04893276,  0.01682826,  0.0484205 , -0.00057111, -0.01767404,
        0.0443028 , -0.098332  , -0.007758  , -0.03485979, -0.01022884,
        0.00882394, -0.03853934, -0.00132533,  0.00795201, -0.02196394,
        0.00365829, -0.03567941,  0.0023019 ,  0.00138637,  0.01450893,
       -0.0222168 , -0.05674526,  0.00695801,  0.09347098,  0.01266044,
        0.01109096, -0.08524268,  0.0067967 ,  0.07414028,  0.10139247,
        0.00657   , -0.08338274, -0.19670759,  0.08805629,  0.02364676,
       -0.04277693,  0.02813285, -0.0392892 , -0.04129464,  0.05276053])

In [76]:
cosine_similirity_scores = []

#cos_similarity_lam = map(lambda x: cosine_similarity(search_term_embedding, x), jobtitle_embeddings)

for jobtitle_embedding in jobtitle_embeddings:
    score = cosine_similarity(search_term_embedding_mean, jobtitle_embedding)
#    score = numpy.mean(score)
    cosine_similirity_scores.append(score)

In [80]:
cosine_similirity_scores[3]

0.21032198

In [81]:
cosine_similirity_scores

[0.45685704158807683,
 0.2911007259684649,
 0.6287277,
 0.21032198,
 0.14989693,
 0.598271,
 0.5338431551728507,
 0.24628457,
 0.5338431551728507,
 0.4653258503903726,
 0.21811514,
 0.24647247512062803,
 0.22101595,
 0.45685704158807683,
 0.45685704158807683,
 0.2911007259684649,
 0.6287277,
 0.21032198,
 0.45685704158807683,
 0.2911007259684649,
 0.6287277,
 0.21032198,
 0.14989693,
 0.598271,
 0.5338431551728507,
 0.24628457,
 0.57632416,
 0.45409384,
 0.57632416,
 0.45409384,
 0.45685704158807683,
 0.2911007259684649,
 0.6287277,
 0.21032198,
 0.14989693,
 0.598271,
 0.5338431551728507,
 0.24628457,
 0.5338431551728507,
 0.4653258503903726,
 0.21811514,
 0.24647247512062803,
 0.22101595,
 0.45685704158807683,
 0.2911007259684649,
 0.6287277,
 0.21032198,
 0.14989693,
 0.598271,
 0.5338431551728507,
 0.24628457,
 0.5338431551728507,
 0.4653258503903726,
 0.21811514,
 0.24647247512062803,
 0.22101595,
 0.45685704158807683,
 0.6287277,
 0.21032198,
 0.598271,
 0.24628457,
 0.4653258503903726,
 0.21811514,
 0.24647247512062803,
 0.22101595,
 0.48390046293605493,
 0.3820235218971923,
 0.27279937,
 0.1996306415253676,
 0.3095479135729126,
 0.39273578320687663,
 0.46363416603372126,
 0.6135674579916791,
 0.40387344,
 0.3319127412614739,
 0.5976294433501564,
 0.28596274911651254,
 0.41256648736429435,
 0.5239611318814231,
 0.1830855481793926,
 0.3294971,
 0.5775728189578108,
 0.1753932,
 0.44086695,
 0.1075627571784136,
 0.2283261980704192,
 0.2114460248085825,
 0.33866104,
 0.26920655,
 0.17782247,
 0.21955281,
 0.29657137,
 0.19208132,
 0.3685429575992519,
 0.19133413,
 0.1569395234297548,
 0.6287277,
 0.17501572,
 0.41182733,
 0.5218630298157405,
 0.37722933,
 0.16505897901403443,
 0.24725556,
 0.12925707]

In [91]:
for i in range(len(cosine_similirity_scores)):
    data['fit'][i] = cosine_similirity_scores[i]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
data.head()

,id,job_title,location,connection,fit
0,1,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500,0.291101
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.628728
3,4,People Development Coordinator at Ryan,"Denton, Texas",500,0.210322
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500,0.149897

In [93]:
data.loc[data['fit'] >= 0.4].sort_values(by = 'fit', ascending=False)

,id,job_title,location,connection,fit
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.628728
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.628728
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.628728
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.628728
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.628728
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.628728
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.628728
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.613567
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,0.598271
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,0.598271
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,0.598271
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.598271
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,0.598271
75,76,Aspiring Human Resources Professional | Passio...,"New York, New York",212,0.597629
81,82,Aspiring Human Resources Professional | An ene...,"Austin, Texas Area",174,0.577573
26,27,Aspiring Human Resources Management student se...,"Houston, Texas Area",500,0.576324
28,29,Aspiring Human Resources Management student se...,"Houston, Texas Area",500,0.576324
36,37,Student at Humber College and Aspiring Human R...,Kanada,61,0.533843
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,0.533843
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,0.533843
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,0.533843
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,0.533843
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,0.533843
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,0.533843
78,79,Liberal Arts Major. Aspiring Human Resources A...,"Baton Rouge, Louisiana Area",7,0.523961
99,100,Aspiring Human Resources Manager | Graduating ...,"Cape Girardeau, Missouri",103,0.521863
65,66,Experienced Retail Manager and aspiring Human ...,"Austin, Texas Area",57,0.483900
61,62,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500,0.465326
39,40,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500,0.465326
52,53,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500,0.465326
9,10,Seeking Human Resources HRIS and Generalist Po...,Greater Philadelphia Area,500,0.465326
71,72,Business Management Major and Aspiring Human R...,"Monroe, Louisiana Area",5,0.463634
56,57,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
43,44,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
30,31,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
18,19,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
14,15,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
13,14,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
0,1,C.T. Bauer College of Business Graduate (Magn...,"Houston, Texas",85,0.456857
29,30,Seeking Human Resources Opportunities,"Chicago, Illinois",390,0.454094
27,28,Seeking Human Resources Opportunities,"Chicago, Illinois",390,0.454094
83,84,Human Resources professional for the world lea...,"Highland, California",50,0.440867
77,78,Human Resources Generalist at Schwan's,Amerika Birleşik Devletleri,500,0.412566
98,99,Seeking Human Resources Position,"Las Vegas, Nevada Area",48,0.411827
73,74,Human Resources Professional,Greater Boston Area,16,0.403873

## Ranknet Implementation

In [86]:
from keras import backend
from keras.layers import Activation, Dense, Input, Subtract
from keras.models import Model

In [110]:
#Let's assume the supervisor selects id=27 as the ideal candidate

In [87]:
# Model.
h_1 = Dense(128, activation="relu")
h_2 = Dense(64, activation="relu")
h_3 = Dense(32, activation="relu")
s = Dense(1)

In [99]:
rel_doc = Input(shape=(300,), dtype="float32")

In [100]:
h_1_rel = h_1(rel_doc)
h_2_rel = h_2(h_1_rel)
h_3_rel = h_3(h_2_rel)
rel_score = s(h_3_rel)

In [101]:
irr_doc = Input(shape=(300,), dtype="float32")
h_1_irr = h_1(irr_doc)
h_2_irr = h_2(h_1_irr)
h_3_irr = h_3(h_2_irr)
irr_score = s(h_3_irr)

In [102]:
diff = Subtract()([rel_score, irr_score])

In [103]:
prob = Activation("sigmoid")(diff)

In [104]:
model = Model(inputs=[rel_doc, irr_doc], outputs=prob)
model.compile(optimizer="adadelta", loss="binary_crossentropy")

In [105]:
NUM_EPOCHS = 10
BATCH_SIZE = 2

In [150]:
X = numpy.asarray(jobtitle_embeddings)

In [165]:
#supervisor selects candidate with id=26 as the ideal candidate
data.at[26,'signal'] = 1

In [152]:
y = data['signal']

In [153]:
y = y.to_numpy()

In [154]:
type(X)

numpy.ndarray

In [155]:
X.shape, y.shape

((104, 300), (104,))

In [161]:
#X1 = numpy.asarray(0)

In [162]:
#X1.shape

In [163]:
history = model.fit(X, y, batch_size=BATCH_SIZE, epochs=NUM_EPOCHS, verbose=1)

Epoch 1/10

ValueError: in user code:

    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/training.py:805 train_function  *
        return step_function(self, iterator)
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/training.py:795 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/distribute/distribute_lib.py:1259 run
        return self._extended.call_for_each_replica(fn, args=args, kwargs=kwargs)
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/distribute/distribute_lib.py:2730 call_for_each_replica
        return self._call_for_each_replica(fn, args, kwargs)
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/distribute/distribute_lib.py:3417 _call_for_each_replica
        return fn(*args, **kwargs)
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/training.py:788 run_step  **
        outputs = model.train_step(data)
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/training.py:754 train_step
        y_pred = self(x, training=True)
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/base_layer.py:998 __call__
        input_spec.assert_input_compatibility(self.input_spec, inputs, self.name)
    /opt/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/input_spec.py:207 assert_input_compatibility
        ' input tensors. Inputs received: ' + str(inputs))

    ValueError: Layer model expects 2 input(s), but it received 1 input tensors. Inputs received: [<tf.Tensor 'IteratorGetNext:0' shape=(2, 300) dtype=float32>]