In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("potential-talents - Aspiring human resources - seeking human resources.csv")

In [6]:
data.shape

(104, 5)

In [4]:
data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [5]:
data.describe()

               id  fit
count  104.000000  0.0
mean    52.500000  NaN
std     30.166206  NaN
min      1.000000  NaN
25%     26.750000  NaN
50%     52.500000  NaN
75%     78.250000  NaN
max    104.000000  NaN

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [9]:
tfidf_matrix = tfidf.fit_transform((data['job_title']))

In [11]:
tfidf_matrix.shape

(104, 181)

In [17]:
search_keyword = input("Enter job keywords: ")

Enter job keywords: Aspiring human resources

In [20]:
keyword_list = [search_keyword]
user_keyword = pd.DataFrame(keyword_list, columns = ['job_keyword'])

In [21]:
user_keyword.head()

                job_keyword
0  Aspiring human resources

In [22]:
user_keyword_tfidf = tfidf.transform(user_keyword['job_keyword'])

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
cos_similarity_tfidf = map(lambda x: cosine_similarity(user_keyword_tfidf, x), tfidf_matrix)
result = list(cos_similarity_tfidf)

In [24]:
result

[array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.39564317]]),
 array([[0.2878165]]),
 array([[0.39564317]]),
 array([[0.2878165]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.34799962]]),
 array([[0.20673821]]),
 array([[0.25016373]]),
 array([[0.14622958]]),
 array([[0.11259174]]),
 array([[0.25299409]]),
 array([[0.37472449]]),
 array([[0.57679398]]),
 array([[0.46015863]]),
 array([[0.10859318]]),
 array([[0.21816311]]),
 array([[0.10824288]]),
 array([[0.25299409]]),
 array([[0.29767933]]),
 array([[0.]]),
 array([[0.15410443]]),
 array([[0.2847913]]),
 array([[0.]]),
 array([[0.15134215]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.25753129]]),
 array([[0.22617284]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.15345474]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.27912389]]),
 array([[0.31406807]]),
 array([[0.25299409]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]])]

In [34]:
result[0][0][0]

0.28375909395128085

In [40]:
result[2][0][0]

0.7535909978974564

In [53]:
for i in range(len(result)):
    data['fit'][i] = result[i][0][0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
#data.drop(columns='result', inplace=True)

In [59]:
data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.283759
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,0.000000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,0.000000

In [65]:
data.loc[data['fit'] >= 0.4].sort_values(by = 'fit', ascending=False)

,id,job_title,location,connection,fit
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.753591
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.576794
73,74,Human Resources Professional,Greater Boston Area,16,0.460159
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
36,37,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172