In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("potential-talents - Aspiring human resources - seeking human resources.csv")

In [3]:
data.shape

(104, 5)

In [4]:
data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,NaN
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500+,NaN
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,NaN
3,4,People Development Coordinator at Ryan,"Denton, Texas",500+,NaN
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500+,NaN

In [5]:
data.describe()

               id  fit
count  104.000000  0.0
mean    52.500000  NaN
std     30.166206  NaN
min      1.000000  NaN
25%     26.750000  NaN
50%     52.500000  NaN
75%     78.250000  NaN
max    104.000000  NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          104 non-null    int64
 1   job_title   104 non-null    object
 2   location    104 non-null    object
 3   connection  104 non-null    object
 4   fit         0 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.2+ KB

In [7]:
#replacing '500+ ' with 500
data.connection.replace({'500+ ':500}, inplace=True)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [9]:
tfidf_jobtitle_matrix = tfidf.fit_transform((data['job_title']))

In [11]:
search_keyword = input("Enter job keywords: ")

Enter job keywords: Aspiring human resources

In [12]:
keyword_list = [search_keyword]
user_keyword = pd.DataFrame(keyword_list, columns = ['job_keyword'])

In [13]:
user_keyword.head()

                job_keyword
0  Aspiring human resources

In [14]:
user_keyword_tfidf = tfidf.transform(user_keyword['job_keyword'])

In [15]:
from sklearn.metrics.pairwise import cosine_similarity
cos_similarity_tfidf = map(lambda x: cosine_similarity(user_keyword_tfidf, x), tfidf_jobtitle_matrix)
#result = list(cos_similarity_tfidf)

In [16]:
type(cos_similarity_tfidf)

map

In [17]:
result = list(cos_similarity_tfidf)

In [131]:
result

[array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.39564317]]),
 array([[0.2878165]]),
 array([[0.39564317]]),
 array([[0.2878165]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.4361722]]),
 array([[0.]]),
 array([[0.4361722]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.28375909]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.69567872]]),
 array([[0.]]),
 array([[0.21138856]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.19430422]]),
 array([[0.34799962]]),
 array([[0.20673821]]),
 array([[0.25016373]]),
 array([[0.14622958]]),
 array([[0.11259174]]),
 array([[0.25299409]]),
 array([[0.37472449]]),
 array([[0.57679398]]),
 array([[0.46015863]]),
 array([[0.10859318]]),
 array([[0.21816311]]),
 array([[0.10824288]]),
 array([[0.25299409]]),
 array([[0.29767933]]),
 array([[0.]]),
 array([[0.15410443]]),
 array([[0.2847913]]),
 array([[0.]]),
 array([[0.15134215]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.25753129]]),
 array([[0.22617284]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.15345474]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.753591]]),
 array([[0.]]),
 array([[0.27912389]]),
 array([[0.31406807]]),
 array([[0.25299409]]),
 array([[0.]]),
 array([[0.]]),
 array([[0.]])]

In [18]:
result[0][0][0]

0.28375909395128085

In [19]:
result[2][0][0]

0.7535909978974564

In [20]:
for i in range(len(result)):
    data['fit'][i] = result[i][0][0]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
#data.drop(columns='result', inplace=True)

In [22]:
#data.head()

In [23]:
data.loc[data['fit'] >= 0.4].sort_values(by = 'fit', ascending=False)

,id,job_title,location,connection,fit
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
20,21,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
57,58,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
45,46,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
32,33,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
96,97,Aspiring Human Resources Professional,"Kokomo, Indiana Area",71,0.753591
16,17,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
23,24,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
35,36,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
5,6,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
48,49,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
59,60,Aspiring Human Resources Specialist,Greater New York City Area,1,0.695679
72,73,"Aspiring Human Resources Manager, seeking inte...","Houston, Texas Area",7,0.576794
73,74,Human Resources Professional,Greater Boston Area,16,0.460159
24,25,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
38,39,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
8,9,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
49,50,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
51,52,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
6,7,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172
36,37,Student at Humber College and Aspiring Human R...,Kanada,61,0.436172

In [1]:
#convert job_title to tf-idf, location to tf-idf and connection 500+ with 500

In [24]:
data.head()

,id,job_title,location,connection,fit
0,1,2019 C.T. Bauer College of Business Graduate (...,"Houston, Texas",85,0.283759
1,2,Native English Teacher at EPIK (English Progra...,Kanada,500,0.000000
2,3,Aspiring Human Resources Professional,"Raleigh-Durham, North Carolina Area",44,0.753591
3,4,People Development Coordinator at Ryan,"Denton, Texas",500,0.000000
4,5,Advisory Board Member at Celal Bayar University,"İzmir, Türkiye",500,0.000000

In [25]:
tfidf_jobtitle_matrix.shape

(104, 181)

In [26]:
tfidf_location_matrix = tfidf.fit_transform((data['location']))

In [27]:
tfidf_location_matrix.shape

(104, 71)

In [28]:
df_jobtitle = pd.DataFrame(tfidf_jobtitle_matrix.toarray())
df_location = pd.DataFrame(tfidf_location_matrix.toarray())

In [29]:
data_processed = pd.concat([data, df_jobtitle, df_location], axis = 1)

In [30]:
data_processed.shape

(104, 257)

In [31]:
data_processed.drop(['job_title', 'location'], axis=1, inplace=True)

In [32]:
data_processed.shape

(104, 255)

In [33]:
data_processed.head()

,id,connection,fit,0,1,2,3,4,5,6,...,61,62,63,64,65,66,67,68,69,70
0,1,85,0.283759,0.33906,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.645479,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
1,2,500,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
2,3,44,0.753591,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
3,4,500,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.548921,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,5,500,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.707107,0.0,0.0,0.0,0.0,0.707107

### Word2Vec implementation

In [34]:
import numpy
import gensim

In [35]:
import gensim.downloader as api

In [38]:
# load w2v model
corpus = api.load('word2vec-google-news-300')
#word2vec_model = gensim.load("word2vec-google-news-300")

[=================================================-] 99.8% 1659.8/1662.8MB downloaded

In [39]:
def cosine_similarity(vec1, vec2):
    cosine_similarity = numpy.dot(vec1, vec2) / (numpy.linalg.norm(vec1) * numpy.linalg.norm(vec2))
    return cosine_similarity

In [62]:
search_term_embedding = []
search_word = search_keyword.split()
for term in search_word:
#    print(corpus[term])
    search_term_embedding.append(corpus[term])

In [43]:
#averaged search term embedding
search_term_embedding = numpy.mean(search_term_embedding)

In [56]:
search_term_embedding

-0.006466749

In [77]:
import re

def remove_sym_specialchar(text):
#    pattern = r'[^a-zA-Z0-9\s]'
#    text = re.sub(pattern,'', text)
    text_nonum = re.sub(r'\d+', '', text)
    return text_nonum

In [78]:
data['job_title'] = data.job_title.apply(remove_sym_specialchar)

In [79]:
data['job_title'][0]

' CT Bauer College of Business Graduate Magna Cum Laude and aspiring Human Resources professional'

In [138]:
#calculate vector for the sentence by add individual word vectors using numpy.mean

jobtitle_embeddings = []
    
for text in data['job_title']:
    jobtitle_embedding = []
    for word in text.split():
        if word not in corpus:
            jobtitle_embedding.append(0)
        else:   
            jobtitle_embedding.append(corpus[word])

    jobtitle_embedding = numpy.mean(jobtitle_embedding)
#average candidate job title embedding to represent the sentence

    jobtitle_embeddings.append(jobtitle_embedding)

In [141]:
len(jobtitle_embeddings)

104

In [137]:
type(jobtitle_embedding)

numpy.float32

In [142]:
cosine_similirity_scores = []

#cos_similarity_lam = map(lambda x: cosine_similarity(search_term_embedding, x), jobtitle_embeddings)

for jobtitle_embedding in jobtitle_embeddings:
    score = cosine_similarity(search_term_embedding, jobtitle_embedding)
    cosine_similirity_scores.append(score)

In [143]:
type(cosine_similirity_scores)

list

In [144]:
len(cosine_similirity_scores)

104

In [145]:
cosine_similirity_scores[0]

array([0.2513946 , 0.09600574, 0.08090651], dtype=float32)

In [146]:
cosine_similirity_scores[1]

array([[ 3.89722511e-02, -4.77363467e-02,  3.49631440e-03,
         3.56157869e-02, -1.76214240e-02, -5.48222102e-02,
        -4.77363467e-02, -4.69904654e-02,  5.81786707e-02,
         1.92297285e-03, -5.14657497e-02, -1.73417199e-02,
        -1.18408510e-02, -2.13508271e-02,  3.74804884e-02,
        -1.26799671e-02, -5.48222102e-02, -8.24197829e-02,
         2.17237659e-02, -1.94861256e-02,  2.62922850e-02,
        -1.68755446e-02,  9.46335774e-03,  4.02775407e-02,
         6.19080737e-02,  4.77363467e-02, -1.50108431e-02,
         2.92758066e-02, -6.75021783e-02,  3.21660936e-03,
        -3.99046019e-02,  3.13269757e-02,  4.45663556e-02,
         8.68950635e-02,  3.87857817e-02, -1.92996562e-02,
        -1.40784923e-02,  2.13508271e-02, -1.79011300e-02,
         3.69210802e-02,  3.75271076e-03,  7.83174410e-02,
         8.39115493e-03,  5.71064698e-03,  1.92064196e-02,
        -2.75975764e-02,  3.37510891e-02, -7.12315738e-02,
        -9.18365270e-03, -2.55464036e-02,  1.04423255e-01,
        -8.13009664e-02, -3.28187384e-02, -1.27732018e-02,
        -9.97615047e-03,  6.06027804e-03, -4.06504832e-02,
         2.31222939e-02,  4.77363467e-02, -4.92281057e-02,
        -4.62445877e-02,  3.39375585e-02,  4.92281057e-02,
         3.46834399e-02, -3.31916772e-02,  1.23070264e-02,
        -7.45880455e-02, -6.06027804e-03, -8.05550814e-02,
         1.80875994e-02,  2.79705152e-02,  1.46845204e-03,
        -8.95056501e-03, -3.56624066e-03,  4.51257639e-02,
        -2.49869917e-02, -4.95311215e-05, -3.85993123e-02,
         1.62228998e-02, -1.69687793e-02, -1.22137917e-02,
        -4.45663556e-02,  5.07198684e-02,  3.67346108e-02,
         3.30052078e-02,  3.82263735e-02, -9.74306278e-03,
        -3.96248978e-03, -6.19080737e-02,  2.08846517e-02,
         9.88291577e-03,  6.26539513e-02,  2.21899431e-02,
         7.19774589e-02, -1.74349546e-02,  1.04306708e-03,
        -3.13269757e-02, -4.25151847e-02,  2.01387703e-02,
         1.02931499e-01, -1.30529068e-02,  5.37033901e-02,
        -1.79011300e-02,  5.89245521e-02, -9.64982808e-03,
        -4.56851758e-02, -2.17237659e-02,  4.73634042e-02,
        -1.21578507e-01, -2.05117110e-02, -3.89722511e-02,
        -1.94861256e-02,  3.03946268e-02, -4.53122333e-02,
        -2.98352148e-02,  4.81092893e-02,  5.33304513e-02,
         1.99523009e-02,  1.86470114e-02,  6.22810163e-02,
        -1.64093692e-02,  4.06504832e-02,  2.10711211e-02,
        -1.79011300e-02, -7.01127574e-02, -3.20728570e-02,
         5.85516132e-02,  2.06049457e-02, -3.71075496e-02,
        -5.89245521e-02,  1.14212940e-02,  3.63616720e-02,
         4.36340049e-02, -1.43581983e-02,  3.22593264e-02,
         8.39115493e-03,  2.75975764e-02,  4.47528213e-02,
        -6.43321872e-03, -7.41218682e-03,  3.63616720e-02,
         8.09280202e-02,  6.00433722e-02,  2.14440618e-02,
        -3.41240279e-02,  8.99718236e-03, -4.30745967e-02,
         2.11643558e-02, -4.23287116e-02,  9.06244665e-02,
        -7.80843489e-04,  6.82480559e-02, -3.58022600e-02,
         3.52428481e-02, -4.23287116e-02,  3.16999182e-02,
         1.12348245e-02,  2.90893354e-02, -9.61486425e-04,
         4.40069437e-02, -3.85993123e-02,  6.96349307e-04,
         3.52428481e-02,  4.17693034e-02, -3.16999182e-02,
        -2.36817021e-02,  7.59865670e-03,  2.20034719e-02,
        -2.17237659e-02, -1.79943647e-02,  8.65221247e-02,
         4.89484007e-03, -4.00910713e-03,  3.39375585e-02,
        -5.03469259e-02, -1.70620140e-02, -3.33315320e-03,
         6.04163148e-02,  4.88551669e-02, -5.80388214e-03,
         4.10234230e-03,  3.61751989e-02, -1.47311380e-02,
        -1.92996562e-02,  3.99046019e-02, -1.94861256e-02,
        -8.46574232e-02,  4.32610624e-02, -4.77363467e-02,
        -2.96487473e-02,  4.12565097e-03, -2.79705152e-02,
         2.35884674e-02,  4.92281057e-02,  7.08586425e-02,
         1.92064196e-02, -7.34692216e-02,  1.11415889e-02,
         1.41717279e-02,  4.12098914e-02, -4.71769348e-02,
         1.76214240e-02,  1.11415889e-02,  1.26741405e-04,
         4.77829669e-03, -1.37055526e-02,  2.48005241e-02,
         7.01127574e-02,  5.68733830e-03,  3.07675656e-02,
         4.52189986e-03,  4.03241580e-03, -6.33998364e-02,
        -4.19557746e-03,  8.25130194e-03, -6.85277628e-03,
         1.70153962e-03,  1.15611469e-02, -8.72680098e-02,
         5.89245521e-02,  1.34258475e-02,  6.26539513e-02,
         2.77840458e-02, -3.97181325e-02, -3.63616720e-02,
         6.94601145e-03, -8.11144989e-03,  3.87857817e-02,
         2.01387703e-02,  4.32610624e-02, -1.38920229e-02,
         4.88551669e-02,  2.75975764e-02, -2.04184763e-02,
        -8.98785964e-02, -4.92281057e-02, -4.84822243e-02,
        -2.11643558e-02,  7.27233440e-02, -9.92020965e-02,
        -4.56851758e-02, -9.32350568e-03, -1.34258475e-02,
         7.55203934e-03,  1.95793598e-03,  8.43777228e-03,
        -1.81808360e-02, -2.61058137e-02, -4.04640101e-02,
         3.35646197e-02, -8.95056427e-02, -1.18874693e-02,
        -2.81569846e-02, -7.98092037e-02, -5.19785425e-03,
        -4.47528213e-02, -1.49176074e-02,  1.92996562e-02,
         2.90893354e-02, -1.48243736e-02,  3.80399004e-02,
        -1.66890733e-02,  7.68256783e-02, -5.96704297e-02,
        -6.22810163e-02, -1.33326128e-02,  4.13963608e-02,
        -9.21162292e-02,  4.61513503e-03,  2.85299253e-02,
        -3.54293212e-02, -2.21899431e-02, -4.13963608e-02,
        -2.72712531e-03,  2.55464036e-02, -5.74327931e-02,
         4.30745967e-02,  2.44742003e-03,  4.71769348e-02,
        -9.77103338e-02, -1.17476163e-02, -3.24457996e-02,
        -9.50997509e-03, -2.66652256e-02, -9.78968013e-03,
         1.35190822e-02,  7.83174410e-02, -3.78534310e-02,
        -1.46379033e-02, -5.51951528e-02, -1.73417199e-02,
         2.05117115e-03,  3.18863876e-02,  1.52905490e-02,
         3.74804884e-02,  7.75715634e-02,  5.59410267e-03,
         1.98590662e-02,  5.03469259e-02, -2.04184763e-02],
       [-1.06754135e-02, -1.76214240e-02, -2.06049457e-02,
        -5.40763289e-02,  4.64310572e-02, -3.63616692e-03,
        -7.79445022e-02,  6.06027804e-03,  9.13703442e-03,
        -1.21205561e-02,  1.78078935e-02,  8.53100698e-03,
         4.60581146e-02,  3.02081574e-02,  1.11415889e-02,
        -4.81092893e-02,  6.20013103e-03, -1.91131867e-02,
         8.71747732e-03, -2.59193424e-02,  3.95316631e-02,
         7.12315738e-02, -8.39115493e-03, -8.11144989e-03,
        -1.32393772e-02,  4.62445877e-02,  5.25845699e-02,
        -3.72940227e-02, -4.32610624e-02,  3.63616720e-02,
         4.49392982e-02,  1.06287962e-02,  2.38681734e-02,
         1.67823099e-02,  4.45663556e-02, -1.83673054e-02,
         9.23027005e-03, -8.67085997e-03, -1.87402442e-02,
        -1.10017359e-02,  7.97159690e-03, -3.85993123e-02,
         1.72484852e-02, -5.25845699e-02,  1.21205561e-02,
        -9.41674039e-03, -5.59410267e-03, -4.92281057e-02,
        -2.53599342e-02, -1.41717279e-02, -1.26799671e-02,
         2.62922850e-02,  3.31916772e-02, -3.61751989e-02,
         3.59887294e-02,  8.29791930e-03, -4.03241580e-03,
         5.78057356e-02, -3.37510891e-02, -6.19080737e-02,
         2.43576569e-03, -2.80870614e-03, -3.59887294e-02,
        -1.83673054e-02,  1.55702541e-02,  1.26799671e-02,
        -1.85537748e-02, -4.38204743e-02,  5.63139692e-02,
         2.08846517e-02, -1.24934958e-02,  1.41717279e-02,
         6.52645365e-04,  1.31461425e-02,  1.88334808e-02,
         2.17237659e-02, -1.96725950e-02, -2.66885338e-03,
         1.35190822e-02,  3.47300572e-03, -1.24002621e-02,
         6.24674791e-03, -2.00455356e-02,  1.37987882e-02,
         3.19330045e-03,  1.18408510e-02,  5.39015164e-04,
        -3.07675656e-02,  1.00693852e-02, -2.49869917e-02,
        -2.79705152e-02, -5.38432458e-03,  1.05821779e-02,
        -9.67313652e-04,  7.50542153e-03,  4.45197336e-03,
        -2.22831778e-02, -1.81808360e-02, -1.73417199e-02,
         1.18874693e-02,  2.36817021e-02, -4.66175284e-03,
        -3.63616720e-02,  1.04889432e-02, -3.22593264e-02,
         3.70609341e-03,  1.31461425e-02, -8.25130194e-03,
        -1.91131867e-02, -3.26322671e-03,  3.58022600e-02,
         1.03723991e-03, -8.53100698e-03, -2.79705152e-02,
         2.27260432e-04, -1.66890733e-02,  1.66890733e-02,
         4.26550349e-03, -3.00216861e-02, -2.83434559e-02,
         3.37510891e-02,  4.71769348e-02,  5.18386848e-02,
        -1.74349546e-02,  5.18386848e-02,  8.01821426e-03,
        -2.89028678e-02,  1.88800984e-03, -4.10234220e-02,
        -7.37139606e-04,  2.07914170e-02,  1.92064196e-02,
         7.27233440e-02, -1.52905490e-02, -1.68755446e-02,
         3.93451899e-02, -1.04889432e-02, -1.31461425e-02,
        -2.68516950e-02,  2.74111051e-02, -1.83673054e-02,
         6.61968859e-03,  2.72246338e-02, -4.66175284e-03,
         1.20273223e-02, -1.96725950e-02,  5.96704334e-03,
        -4.92281057e-02, -4.96476656e-03,  9.46335774e-03,
        -1.27732018e-02,  1.12348245e-02,  2.98352148e-02,
        -5.92974946e-02,  6.24674791e-03,  3.35646197e-02,
         1.09551186e-02,  6.52645379e-02, -3.87857817e-02,
         2.49869917e-02,  1.92996562e-02,  5.92974946e-02,
        -4.66175232e-04, -1.15611469e-02,  3.52428481e-02,
        -2.54065520e-03, -1.39852576e-02,  1.91131867e-02,
        -3.61285848e-03,  1.61296632e-02, -7.69189140e-03,
        -2.12575924e-02, -2.05117110e-02, -9.88291577e-03,
        -5.74327931e-02, -7.41218682e-03,  2.34952327e-02,
         1.01160025e-02,  3.43104973e-02,  4.17693034e-02,
         1.46379033e-02, -2.07914170e-02, -2.40546446e-02,
         5.59410304e-02,  5.29575087e-02, -3.65947583e-03,
         3.67346108e-02,  7.03924615e-03, -3.21660936e-03,
        -6.04163148e-02,  3.03946268e-02, -2.30290573e-02,
         3.05810980e-02, -1.99523009e-02,  2.85299253e-02,
         1.28664374e-02, -2.01387703e-02,  3.44969705e-02,
         1.42649626e-02,  3.84128392e-02, -2.81569846e-02,
        -3.16999177e-03,  2.68516950e-02,  5.33770677e-03,
         3.05810980e-02,  8.11144989e-03,  2.30290573e-02,
         1.35190822e-02,  6.71292394e-02,  4.99739833e-02,
         6.67562932e-02, -5.90003074e-05,  2.77840458e-02,
         1.70620140e-02,  6.66630641e-03, -1.30529068e-02,
        -4.75498773e-02,  1.51040787e-02,  5.71064698e-03,
        -7.13248132e-03, -4.56851758e-02, -1.73417199e-02,
        -3.58022600e-02,  5.37033901e-02, -1.04889432e-02,
         2.81569846e-02, -1.57567244e-02, -1.35190822e-02,
        -1.54770184e-02, -1.66890733e-02, -6.86209947e-02,
        -2.09778864e-02, -1.58790950e-04, -1.11415889e-02,
         2.79705152e-02,  3.84128392e-02,  6.75954111e-03,
        -2.16305312e-02, -1.72484852e-02,  2.21899431e-02,
        -5.70598505e-02,  9.26523353e-04,  8.06483161e-03,
         2.83434559e-02, -2.55464036e-02,  7.31895166e-03,
        -1.21205561e-02, -3.35646197e-02,  1.21205561e-02,
         3.00216861e-02, -3.42638814e-03, -1.26450032e-03,
         3.33315320e-03, -1.09085012e-02, -7.13248132e-03,
         8.76409486e-02,  4.94145788e-03, -2.19102371e-02,
        -9.09041800e-03, -7.45880371e-03, -1.66890733e-02,
         1.38920229e-02,  2.18170024e-02, -1.09085012e-02,
         2.24929559e-03, -7.31895166e-03, -1.26741405e-04,
         2.33087616e-04,  2.64787544e-02, -2.10711211e-02,
         1.92996562e-02, -1.33326128e-02,  3.16999182e-02,
         3.82263735e-02,  2.38681734e-02,  1.32393772e-02,
         2.94622760e-02, -2.09778864e-02, -6.24674791e-03,
        -9.23027005e-03,  1.79943647e-02, -1.71552487e-02,
        -2.19102371e-02,  8.90394673e-03,  1.20273223e-02,
        -2.86697783e-03,  2.96487473e-02,  2.30290573e-02,
        -4.27016541e-02, -3.80399004e-02,  4.04640101e-02,
         1.24934958e-02,  5.96704297e-02, -1.66890733e-02,
         4.25151847e-02, -2.34952327e-02, -9.09041730e-04,
         1.36123169e-02, -3.09540369e-02, -1.74349546e-02],
       [ 9.18365270e-03,  3.98579845e-03, -4.88551669e-02,
        -3.56624066e-03, -6.43321872e-03, -7.27233384e-03,
        -8.01821426e-03,  3.03946268e-02,  1.40784923e-02,
         5.33304513e-02,  1.24002621e-02, -2.58581586e-05,
         2.51734629e-02, -6.63833544e-02,  2.19102371e-02,
         2.07914170e-02,  5.70598505e-02, -3.37510891e-02,
        -1.22371002e-03,  2.03252416e-02,  1.89267155e-02,
         4.92281057e-02, -2.24696491e-02, -1.95793603e-02,
        -3.63616720e-02, -3.89722511e-02,  5.78057347e-03,
        -1.24002621e-02,  3.58022600e-02,  4.92281057e-02,
        -1.22137917e-02, -9.97615047e-03,  1.37055526e-02,
         1.53837828e-02,  1.95793603e-02, -3.72940209e-04,
         1.04423258e-02, -5.81786707e-02, -5.18386848e-02,
        -2.03252416e-02, -1.19340867e-02, -2.81569846e-02,
        -3.67346108e-02,  6.85277628e-03, -5.65237482e-04,
         3.39375585e-02,  4.25151847e-02, -4.88551669e-02,
         2.72246338e-02,  5.21533540e-04, -1.33326128e-02,
         6.11621961e-02,  4.96476656e-03,  9.09041800e-03,
         5.10928072e-02,  8.57762434e-03,  3.07675656e-02,
         5.63139692e-02, -2.49403762e-03, -1.27732018e-02,
         2.57328749e-02,  2.13508271e-02, -2.11643558e-02,
         1.22137917e-02,  5.92974946e-02,  1.45446677e-02,
         4.21888614e-03,  1.96725950e-02,  4.51257639e-02,
        -1.97658315e-02, -4.63261676e-04,  4.84822243e-02,
        -2.16305312e-02,  3.07675661e-03, -4.43798862e-02,
         1.79011300e-02, -8.43777228e-03,  3.10006551e-03,
         4.84822271e-03, -1.06287962e-02, -3.59887294e-02,
        -8.57762471e-02, -2.23764107e-02, -4.66175228e-02,
         1.08152656e-02,  4.59182635e-03,  2.03252416e-02,
        -5.10928072e-02, -3.52428481e-02, -1.91131867e-02,
        -3.61751989e-02,  2.87163965e-02, -5.33770677e-03,
         1.61296632e-02, -1.04889432e-02,  3.03946268e-02,
         3.11405081e-02, -4.43798862e-02, -4.41934168e-02,
        -2.03252416e-02,  3.75271076e-03,  2.05117110e-02,
        -2.13508271e-02, -1.42649626e-02,  2.87163965e-02,
         2.38681734e-02,  1.78078935e-02,  3.39375585e-02,
        -5.92974946e-02, -8.48438963e-03,  5.45425061e-03,
         1.29596712e-02, -1.00693852e-02, -5.75726433e-03,
         1.92996562e-02, -2.38681734e-02,  1.49176084e-03,
         4.10234220e-02, -3.48699093e-02, -2.15372983e-02,
         7.04856962e-02, -1.64093692e-02, -1.04423258e-02,
        -3.39375585e-02,  2.31222939e-02, -1.15611469e-02,
         4.04640101e-02,  2.00455356e-03, -9.04379971e-03,
         1.51040787e-02,  2.03252416e-02,  2.51734629e-02,
         1.45446677e-02, -2.42411122e-02, -4.82491404e-03,
         5.70598505e-02, -4.98807523e-03,  1.49176074e-02,
        -4.02775407e-02, -9.64982808e-03, -1.57567244e-02,
         2.09778864e-02, -3.28653562e-03,  5.96704334e-03,
        -1.73650286e-03,  4.91814874e-03, -1.17476163e-02,
        -3.78534310e-02, -2.59193424e-02, -1.31461425e-02,
        -1.81808360e-02, -3.71075496e-02, -7.03924615e-03,
        -3.84128392e-02, -9.24891755e-02,  3.68278450e-03,
        -1.99523009e-02,  1.11882053e-02,  6.48915991e-02,
         6.78751171e-02, -2.42411122e-02,  9.64982808e-03,
         1.68988528e-03, -2.64787544e-02, -6.06027804e-03,
        -7.03924615e-03,  3.44969705e-02,  3.05810980e-02,
        -3.43104973e-02,  1.54770184e-02,  6.70126930e-04,
        -2.79705152e-02,  1.00227678e-02,  3.23991780e-03,
        -3.63616720e-02,  3.54293212e-02, -5.85049996e-03,
         1.97658315e-02,  4.92281057e-02,  1.13280583e-02,
         9.27688740e-03, -1.79011300e-02, -1.29596712e-02,
         2.20034719e-02,  5.07198684e-02,  3.31916772e-02,
         1.51040787e-02, -3.50563787e-02, -7.64527470e-02,
        -3.84128392e-02,  7.49609768e-02,  5.74327931e-02,
         3.22593264e-02, -2.68516950e-02,  6.30268976e-02,
        -1.41717279e-02,  1.31461425e-02,  3.15134488e-02,
        -3.71075496e-02,  6.60104156e-02,  5.03469259e-02,
        -2.96487473e-02, -2.51734629e-02,  1.47311380e-02,
         7.69189140e-03, -1.96725950e-02,  9.83629748e-03,
         3.95316631e-02,  4.45663556e-02, -3.20728570e-02,
         3.48699093e-02,  8.48438963e-03,  2.20034719e-02,
        -1.44514339e-02, -4.34475318e-02, -2.77840458e-02,
        -4.51257639e-02, -3.86925461e-03,  1.21205561e-02,
        -2.01387703e-02, -2.06981804e-02,  1.71552487e-02,
        -1.32393772e-02, -5.96704297e-02,  2.87163965e-02,
         1.73417199e-02, -1.16077643e-02,  7.97159690e-03,
        -5.68733830e-03, -1.05355605e-02,  3.72940227e-02,
        -1.68755446e-02,  2.05117110e-02,  5.96704297e-02,
         1.32393772e-02, -5.36101521e-04,  1.20273223e-02,
        -8.25130194e-03, -2.74111051e-02,  2.51734629e-02,
         1.86470114e-02, -4.36340049e-02, -2.00455356e-02,
        -7.87836220e-03, -1.43581983e-02,  3.16999182e-02,
        -4.45663556e-02,  1.01160025e-02,  6.24674791e-03,
         6.80615846e-03,  3.33781466e-02, -9.23027005e-03,
         2.61058137e-02, -2.66652256e-02, -2.74111051e-02,
         2.90893354e-02,  3.07675661e-03,  2.31222939e-02,
         9.37012210e-03, -2.72246338e-02, -1.99523009e-02,
         6.45186529e-02, -1.00693852e-02, -6.04163148e-02,
        -4.28881217e-03, -5.03469259e-02, -2.84366915e-03,
        -2.90893354e-02,  5.18386848e-02, -8.85733031e-03,
         4.19557728e-02, -2.57328749e-02, -3.12337396e-03,
        -3.33781466e-02,  1.62228998e-02, -3.50563787e-02,
         4.96476656e-03, -1.28664374e-02,  1.61296632e-02,
         1.63161345e-02,  4.27016541e-02,  2.96487473e-02,
        -3.52428481e-02, -2.01387703e-02,  4.17693034e-02,
        -2.49869917e-02, -5.03469259e-03, -3.30052078e-02,
        -6.22810163e-02, -1.31461425e-02,  3.48699093e-02,
         1.73417199e-02,  3.35646197e-02, -7.69189140e-03,
        -2.19102371e-02,  1.30529068e-02, -3.37510891e-02,
         3.56157869e-02,  7.69189140e-03,  3.91587196e-03]], dtype=float32)